@model  IEnumerable<Product>
@{
    ViewData["Title"] = "Product Catalog";
}

<h1>Product Catalog</h1>
<div class="table-responsive">
    <table class="table table-striped table-dark" style="text-align:center">
        <thead class="table-dark table-bordered">
            <tr class="table-bordered">
                <th>@Html.DisplayNameFor(m=>m.Title)</th>
                <th>@Html.DisplayNameFor(m=>m.Price)</th>
                <th>@Html.DisplayNameFor(m=>m.Category)</th>
                <th>Edit Product</th>
                <th>Delete Product</th>
            </tr>    
        </thead>
        <tbody>
            @foreach (Product product in Model)
	        {
            <tr>
                <td>@product.Title</td>
                <td>@Html.DisplayFor(m=>product.Price)</td>
                <td>@product.Category</td>
                <td><a class="btn btn-primary" href="">Edit</a></td>
                <td><a class="btn btn-danger" href="">Delete</a></td>
            </tr>
	        }
        </tbody>
    </table>
</div>


